/*********************************************
 Main home banner customizations
 *********************************************/


/* If you want to add a background image to the home page banner instead of using a solid color.
Just un comment the #banner rule below. */
/* #banner {
  background-image: url(../../images/pic01.jpg);
  background-size: cover;
  color: rgba(255, 255, 255, 0.75);
  text-shadow: 1px 1px 15px #333;
  text-align: center;
  cursor: default;
  padding: 10em 4em 9em 4em;
} */



/* If you want to change the banner button color. The following two css rules use a class called "redbtn".
You can call the class whatever you want, but in order for it to work, it needs to be
added to the button in the index html file as well.*/
#banner .button.redbtn {
  background-color: rgba(188, 46, 26, 1);
  box-shadow: none;
}

#banner .button.redbtn:hover {
  background-color: rgba(188, 46, 26, .8);
}



/*********************************************
 Write your css customizations below
 *********************************************/
.sub{
  font-size: 30px;
  color: black;
}
.small{
  font-size: 15px;
  color: black;
}
.head{
  font-size: 50px;
  color: black;
}
* {box-sizing: border-box}

/* Container needed to position the overlay. Adjust the width as needed */
.container {
  position: relative;
  width: 100%;
  
}

/* Make the image to responsive */
.image {
  display: block;
  width: 100%;
  height: auto;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.container:hover .overlay {
  opacity: 1;
}
